
.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-style: normal;
}
.nav-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}
nav div a h2{
  color: black;
}
nav div a{
  text-decoration: none;
}
.btn-sign-in{
  background-color: white;
  color: #006A50;
  border: 1px solid #006A50;
  padding: 15px 30px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C6E4D6;
  padding: 60px 80px 60px 80px ;
  height: auto;
  border-radius: 10px;
}
.banner-sub-title{
  color: #5d5959;
  font-size: 24px;
  gap: 0;
  margin: 0;
}
.banner-title{
  font-size: 56px;
  font-weight: 700;
  margin: 0;
}
.banner-btn{
  font-size: 18px;
  padding: 17px 34px 17px 34px;
  color: white;
  background-color: #006A50;
  border: none;
  border-radius: 5px;
  margin: 0;
}

main section{
  margin-top: 70px;
  margin-bottom: 70px;
}

.pillars-container{
  display: flex;
  gap: 28px;
}
.pillar{
  padding: 26px;
  box-shadow: 0px 6px 30px 0px #C6E4D6;
  border-radius: 16px;
  border: 2px solid #a1c2ba;
}

.pillar-name{
  font-size: 20px;
}
.pillar-description{
  font-size: 16px;
  color: #7b7373;
}
.visions-container{
  display: flex;
  gap: 28px;
}

.vision-name{
  font-size: 20px;
}
.vision-description{
  font-size: 16px;
  color: #696464;
}
.vision-a{
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #a1c2ba;
  background-color: rgba(84, 144, 245, 0.2);
}
.vision-b{
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #a1c2ba;
  background-color: rgb(198, 228, 214);
}
.vision-c{
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #a1c2ba;
  background-color: rgb(247, 235, 207);
}
.vision-btn-a{
  color: white;
  padding: 20px;
  background-color: rgb(84, 144, 245);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.vision-btn-b{
  color: white;
  padding: 20px;
  background-color: rgb(9, 161, 92);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.vision-btn-c{
  color: white;
  padding: 20px;
  background-color: rgb(255, 194, 57);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.yunus{
  display: flex;
  flex-direction: column;
  padding: 48px 24px 48px 24px;
  border: 2px solid rgba(14, 14, 14, 0.15);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(191, 187, 187);
  margin-bottom: 20px;
}
.quote-img{
  position: absolute;
}
.author-name{
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin-top: 10px;
}

.opinion-table{
  border-collapse: collapse;
  margin: 25px 0px;
  font-size: 20px;
  min-width: 400px;
  box-shadow: 4px 4px 4px 4px rgb(165, 157, 157);
  border-radius: 20px;
  text-align: left;
  width: 1500px;
}

.opinion-table thead tr{
  color: rgb(40, 37, 37);
  background-color: #93cfc0;
  text-align: left;
  border-bottom: 2px solid;
}

.opinion-table th, .opinion-table td{
  padding: 12px 15px;
}
.opinion-table tbody tr{
  border-bottom: 1px solid;
}

.opinion-table td select{
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.yes-no-btn{
  background-color: #93cfc0;
  border-radius: 4px;
}
.ques{
  font-size: 16px;
  font-weight: 600;
  padding: 24px;
  gap: 12;
  margin: 0px 12px;
}
.news{
  display: flex;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 6px 30px 0px rgb(186, 178, 178);

}
.news-a{
  box-shadow: 1px 1px 1px 1px rgb(189, 194, 196);
  border: none;
  border-radius: 16px;
}
.news-b{
  box-shadow: 1px 1px 1px 1px rgb(189, 194, 196);
  padding: 30px;
  border: none;
  border-radius: 16px;
  background-color: #ede6e6;
}
.news-btn{
  background-color: rgb(0, 106, 80);
  border-radius: 8px;
  padding: 13px 26px 13px 26px;
  color: white;
  border: none;
}

.donate-option{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #ede6e6;
  border-radius: 10px;
}

.donate-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: white;
  border-radius: 16px;
  border: 1px solid;
  padding: 20px;
  margin-bottom: 15px;
}

.donate-btn{
  color: black;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
}

.donate-btn-select{
  color: black;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: #93cfc0;
}

.other-amount{
  border: 1px solid;
  background-color: white;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
}

.footer-div{
  text-align: center;
  background-color: rgb(198, 228, 214);
  border-radius: 10px;
  width: auto;
  padding: 30px 20px;
  gap: 10;
}

.input-your-email{
  line-height: 19px;
  border-radius: 8px;
  text-align: left;
  font-weight: 400;
  padding: 10px;
  color: black;
  font-size: 16px;
  border: none;
}

.last-footer{
  text-align: center;
}
.last-footer a{
  padding: 10px;
  margin: 10px;
}
