
.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-style: normal;
}
.nav-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
}
nav div a h2{
  color: black;
}
nav div a{
  text-decoration: none;
}
.btn-sign-in{
  background-color: white;
  color: #006A50;
  border: 1px solid #006A50;
  padding: 15px 30px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C6E4D6;
  padding: 60px 80px 60px 80px ;
  height: auto;
  border-radius: 10px;
}
.banner-sub-title{
  color: #5d5959;
  font-size: 24px;
  gap: 0;
  margin: 0;
}
.banner-title{
  font-size: 56px;
  font-weight: 700;
  margin: 0;
}
.banner-btn{
  font-size: 18px;
  padding: 17px 34px 17px 34px;
  color: white;
  background-color: #006A50;
  border: none;
  border-radius: 5px;
  margin: 0;
}

main section{
  margin-top: 70px;
  margin-bottom: 70px;
}

.pillars-container{
  display: flex;
  gap: 28px;
}
.pillar{
  padding: 26px;
  box-shadow: 0px 6px 30px 0px #C6E4D6;
  border-radius: 16px;
  border: 2px solid #a1c2ba;
}

.pillar-name{
  font-size: 20px;
}
.pillar-description{
  font-size: 16px;
  color: #7b7373;
}
.visions-container{
  display: flex;
  gap: 28px;
}
.vision-name{
  font-size: 20px;
}
.vision-description{
  font-size: 16px;
  color: #696464;
}
.vision-a{
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #a1c2ba;
  background-color: rgba(84, 144, 245, 0.2);
}
.vision-b{
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #a1c2ba;
  background-color: rgb(198, 228, 214);
}
.vision-c{
  padding: 32px;
  border-radius: 16px;
  border: 1px solid #a1c2ba;
  background-color: rgb(247, 235, 207);
}
.vision-btn-a{
  color: white;
  padding: 20px;
  background-color: rgb(84, 144, 245);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.vision-btn-b{
  color: white;
  padding: 20px;
  background-color: rgb(9, 161, 92);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.vision-btn-c{
  color: white;
  padding: 20px;
  background-color: rgb(255, 194, 57);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
